MONGO_IMAGE=mongo:latest

MONGO_ROOT_USERNAME=root_username_here
MONGO_ROOT_PASSWORD=root_password_here

RECEPTION_SERVER_PORT=8081
RECEPTION_DB_PORT=27017
RECEPTION_DB_NAME=medical_reception
RECEPTION_DB_USER=username_here
RECEPTION_DB_PASSWORD=password_here
RECEPTION_MONGO_URI=mongodb://localhost:27017/medical_reception

BILLING_SERVER_PORT=8082
BILLING_DB_PORT=27018
BILLING_DB_NAME=medical_billing
BILLING_DB_USER=username_here
BILLING_DB_PASSWORD=password_here
BILLING_MONGO_URI=mongodb://localhost:27018/medical_billing

MEDICAL_RECORDS_SERVER_PORT=8083
MEDICAL_RECORDS_DB_PORT=27019
MEDICAL_RECORDS_DB_NAME=medical_records
MEDICAL_RECORDS_DB_USER=username_here
MEDICAL_RECORDS_DB_PASSWORD=password_here
MEDICAL_RECORDS_MONGO_URI=mongodb://localhost:27019/medical_records

NOTIFICATION_SERVER_PORT=8084
NOTIFICATION_DB_PORT=27020
NOTIFICATION_DB_NAME=medical_notification
NOTIFICATION_DB_USER=username_here
NOTIFICATION_DB_PASSWORD=password_here
NOTIFICATION_MONGO_URI=mongodb://localhost:27020/medical_notification
